body {
  font-family: "Philosopher";
  background-image: url("./img/wood_texture.jpg");
  background-size: initial;
  background-attachment: fixed;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 1;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

a {
  color: inherit;
  font-style: italic;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #8f9caa;
  text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #161c24;
  background: #212b36;
}

/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 7px #161c24;
  background: #454f5b;
  border-radius: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes opacity {
  50% {
    opacity: 0.1;
  }
}
